In [15]:
import pandas as pd

In [16]:
h=('aa','2012-02-01',100,10.2)
d={'name':'IBM','date':'2010-09-08','shares':100,'price':10.2}
f=['sanish','2001-08-02',90,3.2]

In [17]:
ds=pd.Series(h)

In [18]:
ds

0            aa
1    2012-02-01
2           100
3          10.2
dtype: object

In [19]:
f=pd.Series(f,index=['name','date','shares','price'])

In [20]:
f['shares']

90

In [21]:
f[0]

'sanish'

In [22]:
f[['shares','price']]

shares     90
price     3.2
dtype: object

In [23]:
data={
    'name':['computer','laptop','mobile'],
    'date':['2001-12-01','2021-11-11','2011-02-1'],
    'price':[100000,32000,12000]
    
}

In [24]:
df=pd.DataFrame(data)

In [25]:
df

       name        date   price
0  computer  2001-12-01  100000
1    laptop  2021-11-11   32000
2    mobile   2011-02-1   12000

In [26]:
df['owner']='unknown'

In [27]:
df

       name        date   price    owner
0  computer  2001-12-01  100000  unknown
1    laptop  2021-11-11   32000  unknown
2    mobile   2011-02-1   12000  unknown

In [28]:
df.index=['one','two','three']

In [29]:
df

           name        date   price    owner
one    computer  2001-12-01  100000  unknown
two      laptop  2021-11-11   32000  unknown
three    mobile   2011-02-1   12000  unknown

In [30]:
df=df.set_index(['name'])

In [31]:
df

                date   price    owner
name
computer  2001-12-01  100000  unknown
laptop    2021-11-11   32000  unknown
mobile     2011-02-1   12000  unknown

In [32]:
df['price']

name
computer    100000
laptop       32000
mobile       12000
Name: price, dtype: int64

In [33]:
df.ix['computer']

AttributeError: 'DataFrame' object has no attribute 'ix'